html, body {
    width: 100%;
    height: 100%;
    background-color: bisque;
    /* overflow-y: hidden; */

    padding: 0;
    margin: 0;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;    
}

.container {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    /* width: 10rem;
    height: 10rem; */
    background-color: aquamarine;
}

.text-and-controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span {
    cursor: pointer;
}

/* input {
    display: none;
} */

.pictures {
    display: flex;
    flex-direction: row;
}

#first:checked ~ .pictures #second-pic{
    display: none;
  }
  #first:checked ~ .pictures #third-pic{
    display: none;
  }
  #first:checked ~ .text-and-controls-container #second-text{
    display: none;
  }
  #first:checked ~ .text-and-controls-container #third-text{
    display: none;
  }


  #second:checked ~ .pictures #first-pic{
    display: none;
  }
  #second:checked ~ .pictures #third-pic{
    display: none;
  }
  #second:checked ~ .text-and-controls-container #first-text{
    display: none;
  }
  #second:checked ~ .text-and-controls-container #third-text{
    display: none;
  }


  #third:checked ~ .pictures #first-pic{
    display: none;
  }
  #third:checked ~ .pictures #second-pic{
    display: none;
  }
  #third:checked ~ .text-and-controls-container #first-text{
    display: none;
  }
  #third:checked ~ .text-and-controls-container #second-text{
    display: none;
  }


.radio .outer {
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin: 10px 9px 10px 10px;
    border: 3px solid #333;
    border-radius: 50%;
    background-color: #fff;
  }
